<section id="intro">
  <div class="">
    <div class="owl-carousel owl-theme carousel-1">
      <div class="item position-relative">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/chilli-1.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Byron Chilled</p>
          <h1>100% Australian Chilli</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/byron-bay.jpg' | relative_url}})"></div>
        <div class="text-container position-absolute">
          <p>Byron Chilled</p>
          <h1>Locally sourced</h1>
        </div>
      </div>

      <div class="item">
        <div class="car-image"
          style="background-image: url({{'/assets/images/carousel/chilli-2.jpg' | relative_url}})">
        </div>
        <div class="text-container position-absolute">
          <p>Byron Chilled</p>
          <h1>Spice up your life</h1>
        </div>
      </div>
    </div>
  </div>
</section>